body{
    background-color:white;
    font-family:'Courier New', Courier, monospace;
    height:100vh;
    background:conic-gradient(from -126deg at 0% 0%, transparent,black,black,white);
}
.menu{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    position:absolute;
    height:110%;
    width:100%;
    gap:360px;
}
.pill-button-projects{
    color:grey;
    padding:10px;
    border-radius:20px;
    border-style:outset;
    border-color:grey;
    border-width:2px;
    text-decoration:none;
}
.pill-button-index{
    color:grey;
    padding:10px;
    border-radius:20px;
    border-style:outset;
    border-color:black;
    border-width:2px;
    text-decoration:none;
}
.hobbies{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    position:relative;
    top:450px;
    left:7px;
    width:100%; 
}
.hobbie-1{
    color:black;
    padding:10px;
    border-radius:20px;
    margin:20px;
    border-style:outset;
    border-color:black;
    border-width:2px;
}
.hobbie-2{
    color:grey;
    padding:10px;
    border-radius:20px;
    margin:20px;
    border-style:outset;
    border-color:black;
    border-width:2px;
}
.hobbie-3{
    color:grey;
    padding:10px;
    border-radius:20px;
    margin:20px;
    border-style:outset;
    border-color:grey;
    border-width:2px;
}
.hobbie-4{
    color:grey;
    padding:10px;
    border-radius:20px;
    margin:20px;
    border-style:outset;
    border-color:grey;
    border-width:2px;
}